<form id="assessmentForm">
       <div class="assessmentmenu-wrap bounceIn">

           <div class="hdr clearfix">
               <!--CLoud-->
               <div class="logo-wrap">
                   <img src="assets/images/cl_icon2.png"  alt="UST Cloud Service" /> UST Cloud Services
               </div>

               <!--Drop down-->
               <div class="user-wrap">
                   <!--<select class="selectpicker">
                       <option data-icon="glyphicon-heart">{{userFullName}}</option>
                   </select>-->
                   <!-- <ul>
                        <li>
                            <div id="user-login" class="clearfix">
                                <div class="left">{{userFullName}}</div>
                                <div class="right carat">&nbsp;</div>
                            </div>
                        </li>
                    </ul>-->

                   <!-- NEW SELECT-->
                   <div class="btn-group bootstrap-select">
                       <button id="newuser-login" type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Username" aria-expanded="false">
                           <span class="filter-option pull-left">
                               <i class="glyphicon glyphicon-user select-blue"></i>&nbsp;{{userFullName}}
                           </span>&nbsp;
                           <span class="caret"></span>
                       </button>

                       <div class="dropdown-menu open" style="max-height: 815px; overflow: hidden; min-height: 0px;">
                           <ul class="dropdown-menu inner" role="menu" style="max-height: 803px; overflow-y: auto; min-height: 0px;">

                               <li data-original-index="0" class="selected">
                                   <a tabindex="0" class="">
                                       <span class="text">&nbsp;{{userFullName}}</span>
                                       <span class="glyphicon glyphicon-user pull-left"></span>
                                   </a>
                               </li>

                               <li data-original-index="1">
                                   <a tabindex="0" class="">
                                       <span class="text">&nbsp;Settings</span>
                                       <span class="glyphicon glyphicon-cog pull-left"></span>
                                   </a>
                               </li>

                               <li data-original-index="2">
                                   <a tabindex="0" class="">
                                       <span class="text">&nbsp;Logout</span>
                                       <span class="glyphicon glyphicon-log-out pull-left"></span>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- END SELECT-->

               </div>
           </div>

           <!--Sub Menu-->
           <div class="sub-menu">

               <ul class="ust-nav" style="list-style-type: none">
                   <li class="navItem">
                       <div class="clearfix">
                           <div class="maturity left">
                               <span class="affixer"><img src="assets/images/cidM_on.png" /></span>
                               <span>Cloud Maturity Assessment</span>
                           </div>
                           <div class="img right"><img src="assets/images/menu_arrwD.png" /></div>

                       </div>
                       <!--submenu-->
                       <ul class="subNav">
                           <li>
                               <!--Turbo Dev off-->
                               <div class="turbo" ng-click="navigate($event)">
                                   <span class="affixer"><img src="assets/images/cldT_off.png" /></span>
                                   <span>Turbo DevOps</span>
                               </div>
                           </li>

                           <li>
                               <!--Cyber Defense off-->
                               <div class="security" ng-click="navigate($event)">
                                   <span class="affixer"><img src="assets/images/cidS_off.png" /></span>
                                   <span>Cyber Defense</span>
                               </div>
                           </li>

                           <li>
                               <!--Cloud Operations Off-->
                               <div class="operations" ng-click="navigate($event)">
                                   <span class="affixer"><img src="assets/images/cidO_off.png" /></span>
                                   <span>Cloud Operations</span>
                               </div>
                           </li>

                       </ul>
                   </li>
               </ul>
           </div>


           <!-- Assessment Wrap -->
           <div class="" style="margin:15% 15%">

               <div align="center">
                   <table id="assessmentStartTbl" width="100%">
                    <tbody>
                        <tr>
                            <td nowrap>
                                <label>Assessment Name</label>
                            </td>
                            <td nowrap>
                                <div style="border:1px solid #4797C8;border-radius:7px;width:50%;padding:2px 2px" class="clearfix">
                                    <input id="assessmentName" type="text" name="assessmentName" value="" class="" />
                                </div>
                                <br/>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap>
                                <label>Assessment Type</label>
                            </td>
                            <td>
                                <div class="clearfix">
                                    <div id="assessmentMigration" class="left col-xs-5 clearfix" data-id="{{assessmentMigrationId}}"  ng-click="showMigration($event)">{{assessmentMigrationName}}</div>
                                    <div id="assessmentCloud" class="left col-xs-4 clearfix" data-id="{{assessmentCloudId}}"  ng-click="showCloud($event)">{{assessmentCloudName}}</div>
                                </div>
                                <br/>
                            </td>
                        </tr>
                        <tr>
                            <td nowrap>
                                <label>Assessment Details</label>
                            </td>
                            <td>
                                <div id="assessmentDetails">
                                    <div class="blurb migration" ng-bind-html="assessmentMigrationDesc | to_trusted">
                                        <br/>
                                    </div>

                                    <div class="blurb cloud" style="display:none" ng-bind-html="assessmentCloudDesc | to_trusted">
                                        <br/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-center">
                                <br/>
                                <button id="startAssessment" data-id="{{assessmentMigrationId}}" class="btn success"  ng-click="startAssessment($event)">Start Assessment &rightarrow; <span></span></button>
                            </td>
                        </tr>
                    </tbody>
                   </table>
              </div>

           </div>
       </div>



        <!-- Footer -->
        <div id="footer-crumbs" class="clearfix">
            <div class="txt">Copyright@UST Global 2015</div>
        </div>
</form>
