<form id="assessmentForm">
       <div class="assessment-wrap bounceIn">
           <div class="hdr clearfix">
               <!--CLoud-->
               <div class="logo-wrap">
                   <img src="assets/images/cl_icon2.png"  alt="UST Cloud Service" /> UST Cloud Services
               </div>

               <!--Drop down-->
               <div class="user-wrap">
                   <!-- NEW SELECT-->
                   <div class="btn-group bootstrap-select">
                       <button id="newuser-login" type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Username" aria-expanded="false">
                           <span class="filter-option pull-left">
                               <i class="glyphicon glyphicon-user select-blue"></i>&nbsp;{{userFullName}}
                           </span>&nbsp;
                           <span class="caret"></span>
                       </button>

                       <div class="dropdown-menu open" style="max-height: 815px; overflow: hidden; min-height: 0px;">
                           <ul class="dropdown-menu inner" role="menu" style="max-height: 803px; overflow-y: auto; min-height: 0px;">

                               <li data-original-index="0" class="selected">
                                   <a tabindex="0" class="">
                                       <span class="text">&nbsp;{{userFullName}}</span>
                                       <span class="glyphicon glyphicon-user pull-left"></span>
                                   </a>
                               </li>

                               <li data-original-index="1">
                                   <a tabindex="0" class="">
                                       <span class="text">&nbsp;Settings</span>
                                       <span class="glyphicon glyphicon-cog pull-left"></span>
                                   </a>
                               </li>

                               <li data-original-index="2">
                                   <a tabindex="0" class="">
                                       <span class="text">&nbsp;Logout</span>
                                       <span class="glyphicon glyphicon-log-out pull-left"></span>
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
                   <!-- END SELECT-->

               </div>
           </div>

           <!--Sub Menu-->
           <div class="sub-menu">

               <ul class="ust-nav" style="list-style-type: none">
                   <li class="navItem">
                       <div class="clearfix">
                           <div class="maturity left">
                               <span class="affixer"><img src="assets/images/cidM_on.png" /></span>
                               <span>Cloud Maturity Assessment</span>
                           </div>
                           <div class="img right"><img src="assets/images/menu_arrwD.png" /></div>

                       </div>
                       <!--submenu-->
                       <ul class="subNav">
                           <li>
                               <!--Turbo Dev off-->
                               <div class="turbo" ng-click="navigate($event)">
                                   <span class="affixer"><img src="assets/images/cldT_off.png" /></span>
                                   <span>Turbo DevOps</span>
                               </div>
                           </li>

                           <li>
                               <!--Cyber Defense off-->
                               <div class="security" ng-click="navigate($event)">
                                   <span class="affixer"><img src="assets/images/cidS_off.png" /></span>
                                   <span>Cyber Defense</span>
                               </div>
                           </li>

                           <li>
                               <!--Cloud Operations Off-->
                               <div class="operations" ng-click="navigate($event)">
                                   <span class="affixer"><img src="assets/images/cidO_off.png" /></span>
                                   <span>Cloud Operations</span>
                               </div>
                           </li>

                       </ul>
                   </li>
               </ul>
           </div>

           <!-- Error Message -->
           <div class="message error">{{errorMsg}}</div>

           <!-- Assessment Wrap -->
           <div class="topic-wrap" ng-repeat="topic in assessmentTopics" id="topic-wrap{{$index}}" ng-class="$first ? 'show' : 'hide'">
                <div id="assessmentTitle{{$index}}">
                    <h4>{{topic.title}}</h4>
                </div>

                <ul id="assessment" class="assessmentUl">
                    <li ng-repeat="questionAss in topic.questionAndAnswers">
                        <div class="questions">
                            <div class="num" >{{questionAss.order}}</div>
                            <div  class="qn" ng-bind-html="questionAss.question.questionText | to_trusted"> </div>
                        </div>

                        <div class="answers" data-questionid="{{questionAss.question.id}}" data-qaid="{{questionAss.id}}" data-qaversion="{{questionAss.version}}" data-qaorder="{{questionAss.order}}" data-topictitle="{{topic.title}}" data-topicid="{{topic.id}}" data-topicversion="{{topic.version}}" data-topicorder="{{topic.order}}">
                            <div ng-repeat="options in questionAss.question.options" class="assessment-options" data-num="{{options.order}}" data-option="{{options.value}}" ng-click="toggleAssessment($event);">{{options.text}}</div>
                        </div>
                    </li>
                </ul>
           </div>
       </div>

    <!--Footer Control-->
        <div id="footer-assessment" class="clearfix">
        <!--indicator-->
        <div class="indicator">
            <div ng-repeat="topic in assessmentTopics" ng-class="$first ? 'on' : 'off'" id="control-{{$index}}">&nbsp;</div>
        </div>

        <!--Navigation Control-->
        <div class="navigator">
            <div class="nav-left disable">&nbsp;</div>
            <div class="nav-left-control hide" ng-click="navigateTopics(-1)">&nbsp;</div>
            <div class="nav-right-control" ng-click="navigateTopics(1)">&nbsp;</div>
        </div>

    </div>
        <!-- Footer -->
        <div id="footer-crumbs" class="clearfix">
            <div class="txt">Copyright@UST Global 2015</div>
        </div>
</form>
