<form id="operationForm">

    <div class="operation-wrap">
        <!--Header-->
        <div class="hdr clearfix">
            <!--Cloud-->
            <div class="logo-wrap">
                <img src="assets/images/cl_icon2.png"  alt="UST Cloud Service" /> UST Cloud Services
            </div>

            <!--Drop down-->
            <div class="user-wrap">
                <!--<select class="selectpicker">
                    <option data-icon="glyphicon-heart">{{userFullName}}</option>
                </select>-->
                <!-- <ul>
                     <li>
                         <div id="user-login" class="clearfix">
                             <div class="left">{{userFullName}}</div>
                             <div class="right carat">&nbsp;</div>
                         </div>
                     </li>
                 </ul>-->

                <!-- NEW SELECT-->
                <div class="btn-group bootstrap-select">
                    <button id="newuser-login" type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Username" aria-expanded="false">
                           <span class="filter-option pull-left">
                               <i class="glyphicon glyphicon-user select-blue"></i>&nbsp;{{userFullName}}
                           </span>&nbsp;
                        <span class="caret"></span>
                    </button>

                    <div class="dropdown-menu open" style="max-height: 815px; overflow: hidden; min-height: 0px;">
                        <ul class="dropdown-menu inner" role="menu" style="max-height: 803px; overflow-y: auto; min-height: 0px;">

                            <li data-original-index="0" class="selected">
                                <a tabindex="0" class="">
                                    <span class="text">&nbsp;{{userFullName}}</span>
                                    <span class="glyphicon glyphicon-user pull-left"></span>
                                </a>
                            </li>

                            <li data-original-index="1">
                                <a tabindex="0" class="">
                                    <span class="text">&nbsp;Settings</span>
                                    <span class="glyphicon glyphicon-cog pull-left"></span>
                                </a>
                            </li>

                            <li data-original-index="2">
                                <a tabindex="0" class="">
                                    <span class="text">&nbsp;Logout</span>
                                    <span class="glyphicon glyphicon-log-out pull-left"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END SELECT-->

            </div>
        </div>

        <!--Sub Menu-->
        <div class="sub-menu">

            <ul class="ust-nav" style="list-style-type: none">
                <li class="navItem">
                    <div class="clearfix">
                        <div class="operations left">
                            <span class="affixer"><img src="assets/images/cidO_on.png" /></span>
                            <span>Cloud Operations</span>
                        </div>
                        <div class="img right"><img src="assets/images/menu_arrwD.png" /></div>
                    </div>

                    <!--submenu-->
                    <ul class="subNav">
                        <li>
                            <div class="assessmentdash" ng-click="navigate($event)">
                                <span class="affixer"><img src="assets/images/cidM_off.png" /> </span>
                                <span>Cloud Maturity Assessment</span>
                            </div>
                        </li>

                        <li>
                            <!--Turbo Dev-->
                            <div class="turbo" ng-click="navigate($event)">
                                <span class="affixer"><img src="assets/images/cldT_off.png" /></span>
                                <span>Turbo DevOps</span>
                            </div>
                        </li>

                        <li>
                            <!--Cyber Defense off-->
                            <div class="security" ng-click="navigate($event)">
                                <span class="affixer"><img src="assets/images/cidS_off.png" /></span>
                                <span>Cyber Defense</span>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

        <!-- Title -->
        <div class="module-title">Cloud Operations</div>

        <!-- OPERATION SECTION -->
        <div class="operation-wrap">

            <ul id="operationsUl">
                <li>
                    <div class="clearfix accordion-wrap" >
                        <div class="left first">
                            <div class="img left compute">&nbsp;</div>
                            <div class="blurb left">
                                <p class="title">Compute Instances</p>
                                <p>List of Compute Instances. A Compute Instance is a virtual machine that provides the required computing resources (CPU, memory, storage and networking) for the Applications.</p>
                            </div>
                        </div>
                        <div class="right">
                            <div class="img right compute-last" ng-click="toggleAccordion($event)">&nbsp;</div>
                        </div>
                    </div>

                    <!--content-->
                    <div class="content clearfix lightgrey" style="display: none">
                        <ul class="opUl">
                            <!--Angular repeat here-->
                            <li ng-repeat="item in opsCompute" class="col-xs-3">
                                <div class="clearfix op-deck box-shadow-gray">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td class="text-left pad-top-5">{{item.name}}</td>
                                                <td class="text-right pad-top-5">{{item.state}}</td>
                                                <td class="op-status">
                                                    <div class="right op {{item.state}}">&nbsp;</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    <div class="op ip">{{item.ipAddress}}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <div data-status="{{item.ref}}" data-id={{item.id}} class="clearfix op-wrap {{item.state}} {{item.ref}}" ng-click="opsModal($event)">
                                                        <div class="left op {{item.ref}}">&nbsp;</div>
                                                        <div class="left op btn-blurb">{{item.status}}</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--MODAL-->
    <div class="modal fade" id="myModal" tabindex="50" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="securityCtrl" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" >ANOMALY</h4>
                </div>

                <!--Modal Footer-->
                <div class="modal-body">
                    <div class="anomaly-title"Anomaly></div>
                    <div class="clearfix">
                        <ul class="anomalyUl" style="list-style-type: none" ng-repeat="item in anomalies">

                            <li>
                                <div class="lightgrey">
                                    <div class="">
                                        <span>Brute Force Login Attack On</span><br/>
                                        <span class="lightblue">{{item.server}}</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="">
                                    <span>Time Of Anomaly</span><br/>
                                    <!--Angular Repeat here for multiple times -->
                                    <span class="lightblue">{{item.when}}</span><br/>
                                    <span class="lightblue">{{item.detectedAt}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="left">
                                        <span>Initiator(s)</span><br/>
                                        <!--Angular repeat here for multiple ips-->
                                        <span class="lightblue">{{item.initiators}}</span><br/>
                                    </div>
                                    <div class="right">
                                        <img src="../../assets/images/ops-blockaccess.png"/>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clearfix">
                                    <div class="left">
                                        <span>Anomaly Detected in Lines</span><br/>
                                        <span class="lightblue">{{item.logfile}}{{item.lines}}</span>
                                    </div>
                                    <div data-id={{item.anomalyId}} class="right view-log" ng-click ="toggleLog($event)">
                                        <img src="../../assets/images/ops-viewlog.png"/>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="content logs" style="display: block" ng-bind-html="logs | to_trusted">

                        </div>

                    </div>
                </div>

                <!--Modal Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--END MODAL-->

    <!-- Footer -->
    <div id="footer-crumbs" class="clearfix">
        <div class="txt">&copy; 2015 UST Global</div>
    </div>
</form>
